<h1>Nuestras instalaciones</h1>
<ul class="row list-unstyled">
    @for(facility of facilities ; track facility){
        <li class="col-md-6 col-sm-12 col-lg-3 my-1">
            <div class="card h-100" >
                <img [src]="facility.image" height="160"  class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{facility.name}}</h5>
                  <p class="card-text">{{facility.description}}</p>
                  <p class="card-text">{{facility.floor}} </p>
                  
                 
                </div>
                <div class="card-footer">
                    <small class="text-muted">Tamaño {{facility.size}}</small>
                </div>
              </div>
        </li>
    }
  
</ul>