<h1>Nuestras clases</h1>
 <!--<div class="input-group mb-3">
    <span class="input-group-text">
      <i class="fa fa-filter"></i>
    </span>
    <input [(ngModel)]="filtro" type="text" class="form-control" placeholder="Filtrar">
  </div>-->
 
  <ul class="row list-unstyled">
      @for(class of classes ; track class){
          <li class="col-md-6 col-sm-12 col-lg-3 my-1">
              <div class="card h-100" >
                  <img [src]="class.image" height="160"  class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">{{class.name}}</h5>
                    <p class="card-text">{{class.description}}</p>
                    <p class="card-text">{{class.time}} </p>
                    
                    @if(class.availableSpaces > 0){
                        <!--[routerLink]="'/rent/'+vehicle._id" -->
                      <a  class="btn btn-outline-primary">Apuntarme!</a>
                    }
                    @else {
                      <span class="sin-stock">Sin sitio</span>
                    }
                  </div>
                  <div class="card-footer">
                      <small class="text-muted">Dificultad {{class.difficulty}}</small>
                  </div>
                </div>
          </li>
      }
    
  </ul>
  