<h2 class="poppins-semibold subtitle-color">Usuarios</h2>

<div class="input-group mb-3">
    <span class="input-group-text">
      <i class="fa fa-filter"></i>
    </span>
    <input [(ngModel)]="filtro" type="text" class="form-control" placeholder="Filtrar">
  </div>

<ul class="row list-unstyled">
  @for(user of users | filterUser: filtro; track user){
  <li class="col-md-7 col-sm-12 col-lg-4 my-3">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">{{ user.name }}</h5>
        <p class="card-text">{{ user.email }}</p>
      </div>

      <div class="card-footer">
        <small class="text-muted">ID usuario: {{ user._id }}</small>
      </div>
      <div class="card-footer">
        <p class="text-muted">Mascotas:</p>
        @for(m of user.mascotas; track m){
        <p>Mascota ID: {{ m }}</p>
        }
        <a (click)="eliminar(user._id)" class="btn btn-danger"> <i class="fa fa-trash"></i> Borrar</a>
      </div>
    
    </div>
  </li>
  }
</ul>