<h1 class="poppins-semibold title-color text-large">Nuestros Centros</h1>
<hr>
  <ul class="row list-unstyled">
      @for(centro of centros ; track centro){
          <li class="col-md-6 col-sm-12 col-lg-3 my-1">
              <div class="card h-100" >
                  <img [src]="centro.image" height="160"  class="card-img-top img-resize"  alt="centro image">
                  <div class="card-body">
                    <h5 class="card-text poppins-light text-title-body">Dirección: {{centro.direccion}} </h5>
                    <p class="card-text poppins-light text-title-body">Precio: {{centro.precioBase}} </p>
                    <hr>
                    <h6 class="card-text lora-regular subtitle-color">Servicios disponibles:</h6>
                    
                    @if(serviciosMap[centro._id]) {
                      <ul>
                      @for(s of serviciosMap[centro._id]; track s){
                        <li class="card-text poppins-regular">{{ s.titulo }}</li>
                      }
                    </ul>
                    } @else {
                      <p class="card-text poppins-regular">No services available</p>
                    }
                    
                    
                      <a (click)="clickCenter(centro._id)"  class="btn btn-outline-info">Reserva en este centro</a>
                    
                  </div>
                  <div class="card-footer">
                      <small class="text-muted">Teléfono {{centro.telefono}}</small>
                  </div>
                </div>
          </li>
      }
    
  </ul>
  