<div class="row border rounded p-3">
  @if(centro){
  <div class="col-md-5">
    <div>
      <p class="poppins-regular text-address text-center" >{{ centro.direccion }}</p>
      <hr>
      <div>
        <img [src]="centro.image" alt="centro image" class="img-resize" />
      </div>
    </div>
  </div>
  <div class="col-md-1 col-lg-1 d-none d-md-block">
    <div class="separador"></div>
  </div>
  <div class="d-block d-sm-none">
    <hr />
  </div>
  <div class="col-md-5">
    <form [formGroup]="form" action="" (ngSubmit)="enviar()">
      <div class="mb-3">
        <label class="form-label" for="">Fecha Entrada</label>
        <input formControlName="fechaIn" class="form-control" type="date" (change)="validateDates()"/>
      </div>

      <div class="mb-3">
        <label class="form-label" for="">Fecha Salida</label>
        <input formControlName="fechaOut" class="form-control" type="date" (change)="validateDates()"/>
      </div>
      <div *ngIf="dateError">
        <div class="alert alert-info">
          <i class="fa fa-circle-exclamation me-3"></i>
          Asegúrese que la fecha está completa y es correcta.
        </div>
      </div>
      <div>
        <p>
          ¿Tienes un código promocional?
          <a
            (click)="mostrarCodigoPromocional = !mostrarCodigoPromocional"
            class="btn btn-sm rounded-pill"
          >
            @if(mostrarCodigoPromocional){
            <i class="fa-solid fa-chevron-up"></i>
            }@else{
            <i class="fa-solid fa-chevron-down"></i>
            }
          </a>
        </p>
      </div>

      @if(mostrarCodigoPromocional){
      <div class="mb-3">
        <label class="form-label" for="">Código promocional</label>
        <div class="input-group mb-3">
          <input formControlName="codigoPromocional" class="form-control" />
        </div>
        @if(codigoPromocional!=''){
        @if(promoCodesList.includes(codigoPromocional)){
        <div class="alert alert-success">
          <i class="fa fa-circle-exclamation me-3"></i>
          Código válido
        </div>
        }@else{
        <div class="alert alert-dark">
          <i class="fa fa-circle-exclamation me-3"></i>
          Código no válido
        </div>
        }}
      </div>
      }

      <div class="mb-3 p-4 bg-info text-white rounded">
        <div class="row">
          <div class="col-md-6">
            <span>Precio base</span>
          </div>
          <div class="col-md-6 text-end">
            <span>{{ centro.precioBase | divisa }}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <span>Número de días</span>
          </div>
          <div class="col-md-6 text-end">
            <span>x {{ numDias }}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <span>Número de mascotas</span>
          </div>
          <div class="col-md-6 text-end">
            <span>x {{ numMascotas }}</span>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <span>Descuento</span>
          </div>
          <div class="col-md-6 text-end">
            @if(promoCode!=0){
            <span>{{ 100 - promoCode * 100 }}%</span>
            }@else{
            <span>{{ 0 }}%</span>
            }
          </div>
        </div>
        <hr />
        <div>
          <span>Elija la mascota para la estancia:</span>
        </div>

        @if(mascotas.length === 0 && authService.user){
        <div class="alert alert-info">
          <i class="fa fa-circle-exclamation me-3"></i>
          <a routerLink="/me/my-info">Agregue una mascota</a> para continuar con
          la reserva
        </div>
        } @for(mascota of mascotas ; track mascota){
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            id="mascota-{{ mascota._id }}"
            (change)="onMascotaToggle(mascota, $event)"
          />
          <label class="form-check-label">{{ mascota.name }} </label>
        </div>
        }

        <div>
          <span>Elija los servicios que quiera añadir:</span>
        </div>

        @for(servicio of servicios ; track servicio){
        <div class="form-check form-switch">
          <input
            class="form-check-input"
            type="checkbox"
            role="switch"
            id="servicio-{{ servicio._id }}"
            (change)="onServiceToggle(servicio, $event)"
          />
          <label class="form-check-label" for="flexSwitchCheckDefault"
            >{{ servicio.titulo }} | + {{ servicio.precio | divisa }}</label
          >
        </div>
        }
        <div class="row">
          <div class="col-md-6">
            <h4>Total</h4>
          </div>
          <div class="col-md-6 text-end">
            <h4>
              {{
                (centro.precioBase * numDias + sumaServicios) *
                  numMascotas *
                  promoCode | divisa
              }}
            </h4>
          </div>
        </div>
      </div>

      @if(authService.user){

      <button
        class="btn btn-success"
        [disabled]="
          mascotas.length === 0 || numMascotas === 0 || dateError === true
        "
      >
        Reservar
      </button>
      }@else {
        <!--No es tecnicamente necesario porque nunca llegaría, pero por si se da la situación-->
      <div class="alert alert-danger">
        <i class="fa fa-circle-exclamation me-3"></i>
        <a routerLink="/login">Inicia sesión</a> para continuar con la reserva
      </div>
      }
    </form>
  </div>
  }
</div>
