<h1 class="poppins-semibold title-color text-large"> <i class="fa fa-user"></i> Log in</h1>
<!--ngSubmit entre parentesis porque es un evento-->
<form [formGroup]="form" action=""  (ngSubmit)="login()"  class="border rounded p-3">
    <div class="mb-3">
        <label class="form-label poppins-regular subtitle-color" for="">Email</label>
        <input formControlName="email" class="form-control" type="text">
    </div>

    <div class="mb-3">
        <label class="form-label poppins-regular subtitle-color" for="">Password</label>
        <input formControlName="password" class="form-control" type="text">
    </div>

    <button class="btn btn-info poppins-regular"> <i class="fa fa-key"></i> Log in</button>
</form>

<p class="poppins-regular subtitle-color">
    ¿Todavía no tienes cuenta? <a routerLink="/signup"> Regístrate aquí</a> 
</p>