<h2 class="poppins-semibold subtitle-color">Reservas</h2>

<div class="input-group mb-3">
  <span class="input-group-text">
    <i class="fa fa-filter"></i>
  </span>
  <input [(ngModel)]="filtro" type="text" class="form-control" placeholder="Filtrar">
</div>

<table class="table">
<thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Fecha In</th>
      <th scope="col">Fecha out</th>
      <th scope="col">Precio total</th>
      <th scope="col">Descuento %</th>
      <th scope="col">ID Centro</th>
      <th scope="col">ID Usuario</th>
    </tr>
  </thead>
<tbody>

@for(booking of reservas | filterReserva: filtro; track booking){
    <tr>
      <td>
        <!--tienes que pasar parametro porque si no eliminaria todas las reservas. Deshabilitas el eliminar/editar si la fecha de inicio ya es pasada-->
        <button (click)="eliminar(booking._id)" class="btn btn-danger btn-sm me-1">
          <i class="fa fa-trash"></i>
        </button>
      </td>
      <td>{{ booking.dateIn | formatDate }}</td>
      
      <td>{{ booking.dateOut |formatDate }}</td>
      <td>{{ booking.price | divisa }}</td>
      <td>{{ booking.discount }}</td>
      <td>{{ booking.centro }}</td>
      <td>{{ booking.user}}</td>
     
     
      
     
    </tr>
    }
</tbody>
</table>