<h2 class="poppins-semibold text-subtitle subtitle-color">Mi Perfil</h2>

<div class="card h-100 my-1">
  <div class="card-body info-display">
    <div class="avatar-container">
      <div
        class="image-container"
        [ngClass]="{ 'box-shadow-avatar': !!file }"
        [ngStyle]="{ backgroundImage: 'url(' + user.image + ')' }"
      ></div>
      <label for="avatar-input-file">
        <div class="icon-wrapper">
          <mat-icon
            class="icon"
            fontIcon="edit"
            data-bs-toggle="modal"
            data-bs-target="#imageModal"
          ></mat-icon>
        </div>
      </label>
    </div>
    <div class="spacing-total">
      <div class="white-bg round-border spacing">
        <h5 class="card-title lora-regular subtitle-color">{{ user.name }}</h5>
        <p class="card-text poppins-light">E-mail: {{ user.email }}</p>
      </div>

      <button
        type="button"
        class="btn btn-outline-info white-bg"
        data-bs-toggle="modal"
        data-bs-target="#perfilModal"
      >
        Cambiar contraseña
      </button>
    </div>
  </div>

  <div class="card-footer blue-bg">
    @if(hasMascotas){

    <p class="poppins-regular white-font text-body-size">MIS MASCOTAS:</p>
    <button
      type="button"
      class="btn btn-light blue-font"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
      data-bs-whatever="@mdo"
    >
      Añadir mascota
    </button>
    <ul class="row list-unstyled">
      @for(mascota of mascotasMap[user._id] ; track mascota){
      <li class="col-md-6 my-1">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title lora-regular subtitle-color">
              {{ mascota.name }}
              @if(mascota.type==="Perro"){
              <i class="fa-solid fa-dog"></i>
              }@else{ @if(mascota.type==="Gato"){
              <i class="fa-solid fa-cat"></i>
              }@else{ @if(mascota.type==="Pez"){
                <i class="fa-solid fa-fish"></i>
              }@else{ @if(mascota.type==="Reptil"){
                <i class="fa-solid fa-frog"></i>
              }@else{ @if(mascota.type==="Pájaro"){
                <i class="fa-solid fa-crow"></i>
              }}}}}
            </h5>
            <p class="card-text poppins-light">
              <strong>Tipo:</strong> {{ mascota.type }}
            </p>
            <p class="card-text poppins-light">
              <strong>Raza:</strong> {{ mascota.raza }}
            </p>
            <p class="card-text poppins-light">
              <strong>Fecha de nacimiento:</strong>
              {{ mascota.fechaNacimiento | formatDatefromDate }}
            </p>
          </div>
        </div>
      </li>
      }
    </ul>
    }
  </div>
</div>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-body-size" id="exampleModalLabel">
          Agregar mascota
        </h5>
      </div>
      <div class="modal-body">
        <form [formGroup]="form" (ngSubmit)="addPet()">
          <div class="mb-3">
            <label for="petName" class="col-form-label"
              >Nombre de mascota:</label
            >
            <input
              type="text"
              class="form-control"
              id="petName"
              formControlName="petName"
            />
          </div>
          <div class="mb-3">
            <label for="petType" class="col-form-label">Tipo de animal:</label>

            <select
              class="btn btn-info dropdown-toggle"
              id="petType"
              formControlName="petType"
            >
              <option value="" disabled selected hidden>
                Select your option
              </option>
              <option value="Perro">Perro</option>
              <option value="Gato">Gato</option>
              <option value="Pájaro">Pájaro</option>
              <option value="Pez">Pez</option>
              <option value="Reptil">Reptil/Anfibio</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="petBreed" class="col-form-label">Raza:</label>
            <input
              type="text"
              class="form-control"
              id="petBreed"
              formControlName="petBreed"
            />
          </div>
          <div class="mb-3">
            <label for="petDob" class="col-form-label"
              >Fecha de nacimiento:</label
            >
            <input
              type="date"
              class="form-control"
              id="petDob"
              formControlName="petDob"
            />
          </div>
          <div class="modal-footer">
            <button
              class="btn btn-info"
              data-bs-dismiss="modal"
              routerLink="/me/my-info"
            >
              Agregar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="perfilModal"
  tabindex="-1"
  aria-labelledby="perfilModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cambiar contraseña</h5>
      </div>
      <div class="modal-body">
        <form [formGroup]="formPwd" (ngSubmit)="updatePwd()">
          <div class="mb-3">
            <label for="pwd" class="col-form-label">Nueva Contraseña:</label>
            <input
              type="text"
              class="form-control"
              id="pwd"
              formControlName="pwd"
            />
          </div>

          <div class="modal-footer">
            <button class="btn btn-info" data-bs-dismiss="modal">
              Cambiar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="imageModal"
  tabindex="-1"
  aria-labelledby="imageModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-body-size" id="imageModalLabel">
          Dirección de imagen
        </h5>
      </div>
      <div class="modal-body">
        <form [formGroup]="formImage" (ngSubmit)="onFileChange()">
          <div class="mb-3">
            <input
              type="text"
              class="form-control"
              id="image"
              formControlName="image"
            />
          </div>

          <div class="modal-footer">
            <button class="btn btn-info" data-bs-dismiss="modal">
              Cambiar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
